* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.item {
    width: 65px;
    height: 65px;
    border: 1px solid #000;
    border-radius: 5px;
}

.active {
    animation: boxAnim 3s infinite linear;
}

@keyframes boxAnim {
    0% {
        background-color: red;
    }

    50% {
        background-color: green;
    }

    100% {
        background-color: blue;
    }
}